/* Пример глобальных стилей */
@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icons {
  width: 50px;
  height: 50px;
}

input[type='number'] {
  -moz-appearance: textfield; /* Убирает стрелочки в Firefox */
  -webkit-appearance: none; /* Убирает стрелочки в Chrome, Safari */
  appearance: none; /* Универсальный подход для современных браузеров */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Убирает стрелки на старых версиях WebKit */
  margin: 0; /* Убирает дополнительное пространство */
}

.css-gcmlrb-MuiSnackbar-root {
  position: fixed !important;
  top: 50% !important;
}

@media (min-width: 600px) {
  .css-ovdqdu {
    top: 50% !important;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

.elem::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 8px; /* Высота горизонтального скроллбара */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1a1a1a; /* Цвет трека (фона скроллбара) */
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #555; /* Цвет ползунка */
  border-radius: 4px;
  transition: 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #999; /* Цвет ползунка при наведении */
}

/* Убираем вертикальный скроллбар, если он не нужен */
.scrollbar-custom {
  scrollbar-width: none; /* Для Firefox: делаем скроллбар тоньше */
  scrollbar-color: #555 #1a1a1a; /* Цвет ползунка и фона */
  scroll-behavior: smooth;
}
